@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kompleksowe Zarządzanie Edukacją w Twoich Rękach</h1>
    <p>
    Ta strona to zaawansowana aplikacja zaprojektowana z myślą o nowoczesnych potrzebach instytucji edukacyjnych. Dzięki naszej platformie zarządzanie ocenami, przedmiotami oraz studentami staje się prostsze, bardziej intuicyjne i wydajne.
    </p>
</div>
